html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  background-color: #fafafa;
}

b {
  font-weight: 500;
}

ion-icon:hover {
  cursor: pointer;
}

body > header {
  height: 5.4rem;
  width: 100dvw;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #ffffff;
  border: 0.1rem solid #dbdbdb;
  filter: drop-shadow(0 0 1rem #dbdbdb);
}

nav {
  height: 100%;
  width: min(100%, 93.5rem);
  padding: 0 4rem 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav > section {
  display: flex;
}

.logo-instagram-icon {
  font-size: 2.2rem;
}

.vertical-line {
  height: 2.2rem;
  width: 0.1rem;
  margin: 0 1rem;
  border: none;
  border-left: 0.1rem solid #dbdbdb;
}

.logo-instagram-img {
  height: 2.9rem;
  width: 10.3rem;
}

.logo-instagram-img:hover {
  cursor: pointer;
}

.search-box {
  height: 2.6rem;
  width: 21.5rem;
  padding: 0 0.8rem;
  border: 0.1rem solid #e6e6e6;
  border-radius: 0.6rem;
  background-color: #fafafa;
  font-size: 1.6rem;
  font-weight: 500;
  color: #000;
}

.search-box::placeholder {
  text-align: center;
  font-size: 1.2rem;
  color: #979797;
}

.search-box:hover {
  background-color: #f0f0f0;
}

.navigation-menu {
  display: flex;
  gap: 2rem;
}

.navigation-menu ion-icon {
  font-size: 2.2rem;
}

.page-container {
  width: min(100%, 93.5rem);
  display: flex;
  justify-content: center;
  gap: 3.6rem;
}

main {
  width: min(100%, 61.4rem);
  margin-bottom: 3.4rem;
  position: relative;
}

.story-bar {
  height: 12rem;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  padding-left: 1.2rem;
  overflow: scroll;
  filter: drop-shadow(0 0 1rem #dbdbdb);
}

.story-bar::-webkit-scrollbar {
  display: none;
}

.story {
  height: 8.6rem;
  width: 7.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.story:hover {
  cursor: pointer;
}

.username-story {
  width: 7.8rem;
  font-size: 1.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.picture-story {
  height: 6.6rem;
  width: 6.6rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/stories_background.jpg");
  background-size: cover;
}

.arrow-story {
  font-size: 3.2rem;
  color: #fff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  position: absolute;
  right: 1rem;
  top: 4rem;
}

.feed {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.post {
  border: 0.1rem solid #dbdbdb;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  filter: drop-shadow(0 0 1rem #dbdbdb);
}

.post > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem;
  padding: 1.7rem;
  background-color: #fff;
}

.profile-post {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.profile-post > img {
  height: 3.2rem;
  width: 3.2rem;
}

.profile-post > h1 {
  font-size: 1.4rem;
  font-weight: 500;
}

.post > img {
  width: 100%;
}

.post > footer {
  height: 7.6rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.reaction-icons {
  padding: 0 1.5rem;
  font-size: 2.2rem;
  display: flex;
  justify-content: space-between;
}

.reaction-icons > div {
  display: flex;
  gap: 1.3rem;
}

.who-liked {
  padding: 0 1.5rem;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.who-liked > img {
  height: 2rem;
  width: 2rem;
}

body > footer {
  height: 5.4rem;
  width: 100dvw;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: #ffffff;
  border: 0.1rem solid #dbdbdb;
  filter: drop-shadow(0 0 1rem #dbdbdb);
}

.footer-menu-mobile {
  font-size: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

aside {
  height: 44.3rem;
  width: 29.3rem;
  position: sticky;
  top: 8.8rem;
  border: 0.1rem solid #dbdbdb;
  filter: drop-shadow(0 0 1rem #dbdbdb);
  background-color: lightcoral;
}
