@media (max-width: 934px) {
  .sidebar {
    display: none;
  }
}

@media (max-width: 614px) {
  .desktop-layout {
    display: none;
  }
}

@media (min-width: 615px) {
  .mobile-layout {
    display: none;
  }
}
