@media (max-width: 934px) {
  .sidebar {
    display: none;
  }
}

@media (min-width: 615px) {
  .mobile-layout {
    display: none;
  }

  main {
    margin-top: 8.8rem;
  }

  .story-bar {
    background-color: #fff;
    border-radius: .3rem;
    border: .1rem solid #dbdbdb;
  }
}

@media (max-width: 614px) {
  .desktop-layout {
    display: none;
  }

  main {
    margin-top: 5.4rem;
  }

  .story-bar {
    background-color: #fafafa;
  }
}
